[Unit]
# Developed by Zeljko Tripcevski
Description=paycheck-sentinel Flask app
After=network.target

[Service]
Type=simple
# Prilagodi User i WorkingDirectory tvojoj instalaciji na serveru
User=zeljko
WorkingDirectory=/home/zeljko/bailiff-sentinel
ExecStart=/home/zeljko/bailiff-sentinel/venv/bin/python app.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
